.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 10%;
  background: #1d1e22;
  letter-spacing: .025em;
  line-height: 1.8em;
  font-size: 20px;
  height: 150px;
}

.footer-social-icons a{
  transition: 0.3s;
}

.footer-social-icons a:hover svg path, 
.footer-social-icons a:hover svg {
  fill: #FFF;
  transition: 0.3s;
}
