<div class="application-container">

  <div class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">

    <!-- Home Button -->
    {{link-to 'TD' 'home' class="navbar-brand"}}

    <div class="navbar-nav">
      {{#link-to 'home' class="nav-item nav-link"}}Home{{/link-to}}
      {{#link-to 'projects' class="nav-item nav-link"}}Projects{{/link-to}}
      {{#link-to 'blogs' class="nav-item nav-link"}}Blog{{/link-to}}
    </div>
  </div>

  {{outlet}}

</div>
