<div class="page-not-found-container text-center">
  <div class="page-not-found-content">
    <h1>404</h1>
    <h3>There's nothing here.</h3>
    {{#link-to 'home' class="btn btn-info"}}
      Goto Home Page
    {{/link-to}}
  </div>
</div>
